<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Edit Book</title>
<link rel="stylesheet" href="/style.css">
</head>
<h1>Edit Book: {{book.title}}</h1>
<form action="/update-book/{{book.id}}" method="POST">
    <p>Genre: <input type="text" name="genre" value="{{book.genre}}" required></p>
    
    <p>Rating: <input type="number" name="rating" step="0.1" min="0" max="10" value="{{book.rating}}" required></p>
    
    <button type="submit">Update Record</button>
    <a href="/manage">Cancel</a>
</form>
</html>