<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <style>
        /* responsive layout to go from 3 cols to 1 when screensize decreases/
        .grid { display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px; }
        
        @media (max-width: 768px) {
            .grid { grid-template-columns: 1fr; }
            .hide-mobile { display: none; } /* hiding genre and bookID*/
        }
    </style>

     <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>The Ink Ledger</h1>
    <nav>
        <a href="/">My Bookshelf</a> | <a href="/add">Add Book</a> | <a href="/manage">Manage Books</a>
    </nav>

    <div>
    <strong>Filter by Genre:</strong>
    <a href="/">All</a> | 
    <a href="/?genre=Fantasy">Fantasy</a> | 
    <a href="/?genre=Dystopian">Dystopian</a>
</div>

<div>
    <strong>Filter by Is Read:</strong>
    <a href="/">All</a> | 
    <a href="/?is_read=1">Read</a> | 
    <a href="/?is_read=0">Unread</a>
</div>

{{#genre}}
    <p>Showing books in: <strong>{{genre}}</strong></p>
{{/genre}}

{{#is_read}}
    <p>Showing books in: <strong>{{is_read}}</strong></p>
{{/is_read}}

<a href="/?sort=rating">Sort by Highest Rated</a> | <a href="/">Clear All Filters/Sort</a>

    <h1>{{title}}</h1>

    <div class="bookshelf-grid">
        {{#books}}
        <div class="book-card">
            <img src="{{image_URL}}" alt="Cover" style="width:150px;">
            <h3>{{title}}</h3>
            <p>Author: {{author}}</p>
            <p>Rating: {{rating}}/10</p>
            <p class="hide-mobile">Genre: {{genre}}</p>
            <p class="hide-mobile">ID: {{id}}</p>
            <p>Status: {{#is_read}}Read{{/is_read}}{{^is_read}}To Be Read{{/is_read}}</p>
        </div>
        {{/books}}
        
        {{^books}}
        <p>No books found. Try adding one!</p>
        {{/books}}
    </div>
</body>
</html>