<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <style>
    td {border: 1px solid black;}
  </style>
</head>
<body>
<nav>
        <a href="/">Bookshelf</a> | <a href="/add">Add Book</a> | <a href="/manage">Manage</a>
    </nav>



</body>
</html>