<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
     <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>The Ink Ledger</h1>


    <nav><a href="/">My Bookshelf</a> | <a href="/add">Add Book</a> | <a href="/manage">Manage Books</a></nav>
    
<h1>Manage Your Records</h1>

    <form action="/delete-all" method="POST" onsubmit="return confirm('Clear everything?');">
        <button type="submit" style="color: red;">DELETE ALL RECORDS</button>
    </form>
    <hr>

    <table>
        <tr>
            <th>Title</th>
            <th>Actions</th>
        </tr>
        {{#books}}
        <tr>
            <td>{{title}}</td>
            <td>
                <form action="/toggle-status/{{id}}" method="POST" style="display:inline;">
                    <button type="submit">Toggle Read/Unread</button>
                </form>

                <a href="/edit/{{id}}"><button type="button">Edit Details</button></a>

                <form action="/delete/{{id}}" method="POST" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {{/books}}
    </table>
</body>
</html>